@font-face {
    font-family: 'Archivo Italic';
    src: url('./fonts/Archivo-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Archivo';
    src: url('./fonts/Archivo-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* * {
    border: 1px solid red;
} */

.bg-cool {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 32px, #1d1b2e 32px, #1d1b2e 64px);
    background-color: #222035;
}